.outer {
    height: 100vh;
    overflow-y: auto;
  }
  
  /* 화면에서 스크롤바 안보이게 */
  .outer::-webkit-scrollbar {
    display: none;
  }

  .inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-intro {
    background-color: #FFF;
  }
  
  .recommand-service {
    background-color: #FFF;
  }
  
  .predicted-rate {
    background-color: #FFF;
  }

  .major-info {
    background-color: #FFF;
  }

  .service-intro{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
  }
  
  .divider {
    width: 100%;
    height: 5px;
    background-color: #fdfdfd;
  }

  .background-img{
    position: relative;
    margin: 0 auto;
    top:5%;
    width: 95%;
    max-height: 80%;
    opacity: 0.2;
    box-shadow: 10px 10px 10px 10px #FFF inset;
  }

  .info-wrap{
    display: flex;
    flex-direction: column;
  }

  .info-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    color: #002d56;
  }

  .background-img-info{
    width: 85%;
    max-height: 80%;
    box-shadow: 10px 10px 10px 10px #FFF inset;
  }

  /* .background-img:after{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 
      inset 0 0 20px #fff,
      inset 0 0 20px #fff,
      inset 0 0 20px #fff,
      inset 0 0 20px #fff;
  } */
  /* .content-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    z-index: 3;
  } */

  .content-title{
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 20%;
  }

  .content-subtitle-no-hover{
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 20%;
    color: #002d56;
  }

  .content-subtitle{
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 20%;
    color: #002d56;
  }

  .content-subtitle:hover{
    opacity: 0.6;
  }

/* 반응형 */
/* 화면너비 0 ~ 960px */
@media (max-width: 960px){
  .background-img{
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-height: 90%;
    opacity: 0.2;
    top: -5%;
  }
  .content-title{
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 20%;
  }
  .content-subtitle-no-hover{
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 20%;
    color: #002d56;
  }
  .content-subtitle{
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 20%;
    color: #002d56;
  }
}
/* 화면너비 0 ~ 600px */
@media (max-width: 600px){
  .background-img{
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-height: 90%;
    opacity: 0.2;
    top: 5%;
  }
  .content-title{
    font-size: 14px;
    position: absolute;
    top: 45%;
    left: 15%;
  }
  .content-subtitle-no-hover{
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 15%;
    color: #002d56;
  }
  .content-subtitle{
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 15%;
    color: #002d56;
  }
}
/* 화면너비 0 ~ 480px */
@media (max-width: 480px){
  .background-img{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-height: 90%;
    opacity: 0.2;
    top: -0.5%;
  }
  .content-title{
    font-size: 14px;
    position: absolute;
    top: 45%;
    left: 5%;
  }
  .content-subtitle-no-hover{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 5%;
    color: #002d56;
  }
  .content-subtitle{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 5%;
    color: #002d56;
  }
  .info-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    color: #002d56;
  }

  .background-img-info{
    width: 100%;
    max-height: 80%;
    box-shadow: 10px 10px 10px 10px #FFF inset;
  }
}
